@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
    margin : 0px;
    padding: 0px;
    margin: 0px;
    background-color: #EBEFF0;
}
a{ 
text-decoration: none; }
.navBar{
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 1px 11px 16px -5px rgba(0,0,0,0.39);
    margin: 0;
    position: fixed;

}
/*logo*/
.socialTitle{
    margin-left: 10px;
    margin-right: 15%;
}
.socialTitle h1{
    font-family: "Dancing Script" ;
    margin-left: 30px;
    color: #7FB49F;
    letter-spacing: .15em;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
/***barre de recherche***/
/*bloc*/
.searchBar{
    width: 40%;
    padding-top: 20px;
    padding-right: 15px;
/*barre de recherche*/
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #EFEEEE;
  border-left: none;
  padding: 5px;
  height: 20px;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #A9A9A9;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid #EFEEEE;
  border-right: none;
  background: #DFDFDF;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  font-size: 20px;
}
.userButton{
  width: 30%;
  padding-top: 18px;
 padding-right: 30px;
}
.profilButton{
    float: right;
    padding: 10px;
    border: none;
    background-color: white;
}
.profilButton:hover{
    border: 3px solid #A9A9A9 ;
    border-radius: 10px;
}
#profilTop{
    position: relative;
    height: 430px;
    z-index: -2;
    background: rgb(194,190,190);
    background: linear-gradient(176deg, rgba(194,190,190,1) 9%, rgba(221,221,221,0.896796218487395) 36%, rgba(255,255,255,1) 94%);
}
#fondProfil{
    margin: 0px auto;
    width: 80%;
    max-width: 1070px;
    height: 300px;
    background-color: grey;
    display: flex;
    border-radius: 10px;
}
.fondProfil{
    width: 100%;
    height: 100%;
}
.fondProfil img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.fotoProfil{
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: black;
    margin-top: 150px;
    margin-left: 437px;
    border-radius: 50%;
}
.fotoProfil img{
   width: 100%;
   height: 100%;
   border-radius: 50%;
}
#buttonModif{
    background-color: white;
    display: flex;
    justify-content: center;
}
#buttonModif div{
    background-color: red;
    padding: 10px;
    border-radius: 8px;
    background-color:#A2D6A8;
    box-shadow: 0px 0px 8px -2px #B4B4B4;
}
#buttonModif div:hover{
    background-color: #90E795;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#buttonModif span{
    font-size: 20px;
    color: white;
    font-family: "calibri";
}
#buttonModif i{
    color: white;
    margin-right: 5px;
}
.name{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.name h1{
    font-family: "calibri";
    font-weight: bold;
    color: black;
    font-size: 35px;
}

#toolBar{
    height: 80px;
    display: flex;
    margin:0 ;
    width: 100%;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(180,180,180,0.56);
}
#toolBar div{
    width: 16.75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #D3D0D0 ;
}
.BarPublications{
    margin-left: 26%;
}
.Photos{
    margin-right: 20%;
}
#toolBar span{
    font-size: 20px;
    color: #92CA91;
    font-family: "calibri";
    font-weight: bold;

}
#toolBar div:hover{
    background-color: #E9ECE9;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#toolBar div:active{
    color: #7FB49F;
    border-bottom: 10px solid #7FB49F;
    cursor: pointer;
}
#toolBar span:active{
    color: #7FB49F ;

}
#statut{
    max-width: 100%;
    max-width: 1230px;
    background-color: white;
    height: 130px;
    margin: 50px auto;
    border: solid 2px #CACACA;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 0px 8px -2px #B4B4B4;
}
.publication{
    width: 70%;
    height: 50px;
    padding: 10px;
    background-color: white;
    margin: 30px auto;
    border: 1px solid #E3E3E3;
    border-radius: 9px;
    display: flex;  
}
form {
    width: 50%;
    margin-right: 30px;
}
.createPost{
    width: 100%;
    height: 50px;
    
}
.publication input{
    font-size: 14px;
    background-color: #F7F3F3;
    border:1px solid #F3F2F2;
    border-radius: 10px;
}
.sendPics{
    width: 5%;
    padding-top: 15px;
    margin-right: 0px;
    text-align: center;
}
.sendPics i {
    font-size: 20px;
    color: #C3DBE1;
}

.send{
    width: 30%;
    padding-top: 10px;
    padding-left: 90px;
    margin-left: 100px;
}
.send button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background-color: #FBEAA2;
    font-weight: bold;
    cursor: pointer;
}

#monProfil{
    max-width: 1230px;
    margin: auto;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#userInformation{
    width: 50%;

}
.myPicture{
    width: 80%;
    margin:2% auto;
    min-height: 180px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px -2px #B4B4B4;
}
.myPicture h1{
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'calibri';
}
.pictureList{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.pictureShow{
    width: 60%;
    height: 150px;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 10px;   

}
.pictureShow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;   

}
.myFriend{
    width: 80%;
    margin:2% auto;
    min-height: 180px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px -2px #B4B4B4;
}
.myFriend h1{
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'calibri';
}
.friendList{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.friendShow{
    width: 20%;
    height: 90px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 10px;   

}
.friendShow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 0.2px #D3D0D0 solid;
}
.friendShow h3{
    text-align: center;
}
#userPublication1{
    width: 50%;
}
.titrePublications{
    margin-top: 20px;
    width: 100%;
    height: 20%;
    font-family: 'calibri';
    border-radius: 10px;
    background-color: white;
    border-bottom: 1px solid #D3D0D0;
}
.titrePublications h1{
    padding-top: 20px;
    padding-left: 20px;
}
.profilPublication{
    width: 100%;
    background-color: white;
    margin-top: 0;
    box-shadow: 0px 0px 8px -2px #B4B4B4;
    border-radius: 10px;
    margin-bottom: 50px;
}
.flexPart1{
    display: flex;
}
.imgProfilPublicationPart1{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}
.imgProfilPublicationPart1 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profilPublicationPart1{
    padding-top: 10px;
    min-width: 10%;
}
.profilPublicationPart1 h1,p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: "calibri";
}
.flexPart2{
    display: flex;
    justify-content: space-between;
}
.profilPublicationPart2{
    padding-top: 10px;
    width: 50px;
    height: 50px;
}
.profilPublicationPost p{
    margin: 5px 10px;
    font-family: "calibri";
}
.profilPublicationPostImg{
    margin-top: 20px;
    width: 100%;
    height: 200px;
}
.profilPublicationPostImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profilPublicationPostInter{
    display: flex;
    margin: 20px 40px;
    border-top: 1px solid #D3D0D0;
    padding-top: 10px;
}

.profilPublicationPostInterDivCom{
    display: flex;
    margin-left: 40%;
}
.profilPublicationPostInterDivLike{
    display: flex;
    font-family: "calibri";
}
.commentZone{
    display: flex;
    justify-content: center;
    border-top: 1px solid #D3D0D0;
    padding-top: 10px;
}
.commentZone input{
    border-radius: 20px;
    border: solid 2px #D3D0D0;
}
.imgProfilPublicationPart1 img{
    border-radius: 50%;
    object-fit: cover;
}